@import "~@blueprintjs/core/lib/scss/variables";

.dailyMeal {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    .editButtonIcon {
        display: inline;
        color: $pt-intent-success;
    }

    &:hover .editButtonIcon {
        color: lighten($pt-intent-success, 10%);
    }
}