@import '../../common/styles/constants';
@import '../../common/styles/functions';

.navbarLogo {
  width: 60%;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.appHeader {
  min-height: $navbar-min-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
}

.headerLink {
  box-shadow: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 1.25em;
  min-width: 30px;
  min-height: 30px;
  &:active,
  &:focus {
    outline: none;
  }

  transition: color 0.1s;
  &:hover {
    color: rgba(33, 33, 33, 0.5);
  }
}

.headerButton {
  @extend .headerLink;

  border-radius: 5px;
  color: $white-color;
  transition: box-shadow 0.3s;

  @each $key in $site-colors {
    &_#{$key}, &_primary {
      background-color: get-color($site-colors, $key);
      color: $white-color;

      &:hover {
        box-shadow: 0 0 15px get-color($site-colors, $key, "++");
      }
    }
  }
}

.navbarContent {
  width: 80%;
}
