@import '../../common/styles/constants';
@import '../../common/styles/functions';

.navbarLogo {
  width: 60%;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.appHeader {
  min-height: $navbar-min-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.headerLink {
  box-shadow: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 1.25em;
  min-width: 30px;
  min-height: 30px;
  &:active,
  &:focus {
    outline: none;
  }

  transition: color 0.1s;

  &:hover {
    color: rgba(33, 33, 33, 0.5);
  }
}

.headerButton {
  @extend .headerLink;

  border-radius: 5px;
  transition: background-color 0.3s;

  @each $key, $color in $state-colors {
    &_#{$key} {
      background-color: array-get($color, base);
      color: array-get($color, inverse);

      &:hover {
        background-color: lighten(array-get($color, base), 5%);
        color: array-get($color, inverse);
        text-decoration: none;
      }
    }
  }
}

.navbarContent {
  width: 80%;
}
