@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './common/styles/constants';

body,
html,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Cairo', sans-serif;
}

#root {
    padding-top: $navbar-min-height;
}

a {
  color: black;
}
