.productList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.productText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.productDelete {
    flex: 0;
    margin-left: 5px;
}

.addProductBtn {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.weight {
    flex: 0;
    > *:first-child {
        width: 50px;
    }
}