$brand-color: #F29D49;
$brand-inverse-color: white;

$state-colors: (
    brand: (
        base: $brand-color,
        inverse: $brand-inverse-color
    ),
    metal: (
        base: #c4c5d6,
        inverse: #ffffff
    ),  
    light: (
        base: #ffffff,
        inverse: #282a3c 
    ),
    accent: (
        base: #00c5dc,
        inverse: #ffffff 
    ),
    focus: (
        base: #9816f4,
        inverse: #ffffff 
    ),
    primary: (
        base: #5867dd,
        inverse: #ffffff
    ),
    success: (
        base: #409e18,
        inverse: #ffffff
    ),
    info: (
        base: #36a3f7,
        inverse: #ffffff
    ),
    warning: (
        base: #ffb822,
        inverse: #111111
    ),
    danger: (
        base: #f4516c,
        inverse: #ffffff
    )    
) !default;

$navbar-min-height: 7em;

$font-size-x-small: 1.5em;
$font-size-small: 1.5em;
$font-size-medium: 2.5em;
$font-size-big: 4em;
