$primary-color: #409e18;
$secondary-color: #dbd5b5;
$white-color: #ffffff;
$cta-color: #ff9933;

$navbar-min-height: 7em;

$font-size-x-small: 1.5em;
$font-size-small: 1.5em;
$font-size-medium: 2.5em;
$font-size-big: 4em;
