@import './functions';

$colors: (
    "blue": #0E5A8A,
    "green": #0A6640,
    "orange": #A66321,
    "red": #A82A2A,
    "beige": #dbd5b5
);

$site-colors: (
    "primary": get-color($colors, "blue"),
    "secondary": get-color($colors, "beige"),
    "action": get-color($colors, "orange")
);

$white-color: #ffffff;

$navbar-min-height: 7em;

$font-size-x-small: 1.5em;
$font-size-small: 1.5em;
$font-size-medium: 2.5em;
$font-size-big: 4em;
